@use "../../assets/styles/partials/placeholders" as placeholders;
@use "../../assets/styles/partials/mixins/devices" as devices;

.button {
  width: 100%;
  max-width: 250px;

  @include devices.device(tablet) {
    max-width: 250px;
  }

  span {
    width: 100%;
  }
}
