@use "../../../assets/styles/partials/mixins/devices" as devices;
@use "../../../assets/styles/partials/variables/colors" as colors;
@use "../../../assets/styles/partials/placeholders";


.experience {  
  padding-top: 4rem;
  padding-bottom: 4rem;
  position: relative;
    .content {
      @extend %maxContent;
      justify-content: flex-end;
      padding-left: 1rem;
      padding-right: 1rem;

      @include devices.device(tablet) {
        padding-top: 120px;
      }

      @include devices.device(mdScreen) {
        padding-left: 8rem;
      }
    }
  
    // p {
    //   @include devices.device(smScreen) {
    //     max-width: 60%;
    //   }
    // }
  
    &_text {
      opacity: 1;
      position: relative;
      top: 0;
      text-align: center;

      @include devices.device(smScreen) {
        width: 40%;
        // margin-left: 15rem;
        text-align: left;
      }

      @include devices.device(mdScreen) {
        width: 24%;
      }

    }
  
    &_image {
      width: 85%;
      margin: auto;
      margin-top: 4rem;

      @include devices.device(smScreen) {
        width: 48%;
        // margin-left: 7rem;

      }
    }

    .titleButton {
      @extend %titleButton;
      margin: auto;
      margin-bottom: 2rem;
      @include devices.device(smScreen) {
        margin: 0;
        margin-bottom: 2rem;
      }
    }
}


.cube1 {
  position: absolute;
  right: 20%;
  bottom: 10%;
  animation: float 5.5s ease-in-out infinite;
  animation-delay: .5s;
  transform: rotate(30deg);
  width: 30px;

}

.cube2 {
  position: absolute;
  right: 60%;
  top: 10%;
  transform: scale(.5) rotate(90deg);
  animation: float2 5.5s ease-in-out infinite;
  width: 60px;

}

@keyframes float {
  0% {
    transform: translatey(0px);
  }
  50% {
    transform: translatey(-50px) rotate(30deg);
  }
  100% {
    transform: translatey(0px);
  }
}

@keyframes float2 {
  0% {
    transform: translatey(0px);
  }
  50% {
    transform: translatey(100px) rotate(90deg);
  }
  100% {
    transform: translatey(0px);
  }
}
