@use "../../../assets/styles/partials/mixins/devices" as devices;
@use "../../../assets/styles/partials/variables/colors" as colors;
@use "../../../assets/styles/partials/placeholders";


.experience {  
  padding-top: 4rem;
  padding-bottom: 4rem;
    .content {
      @extend %maxContent;
      justify-content: flex-end;
      padding-left: 1rem;
      padding-right: 1rem;

      @include devices.device(tablet) {
        padding-top: 120px;
      }

      @include devices.device(mdScreen) {
        padding-left: 12rem;
      }
    }
  
    p {
      @include devices.device(smScreen) {
        max-width: 60%;
      }
    }
  
    &_text {
      opacity: 1;
      position: relative;
      top: 0;
      text-align: center;

      @include devices.device(smScreen) {
        width: 40%;
        // margin-left: 15rem;
        text-align: left;
      }

      @include devices.device(mdScreen) {
        width: 20%;
      }

    }
  
    &_image {
      width: 85%;
      margin: auto;
      margin-top: 4rem;

      @include devices.device(smScreen) {
        width: 48%;
        // margin-left: 7rem;

      }
    }

    .titleButton {
      @extend %titleButton;
      margin: auto;
      margin-bottom: 2rem;
      @include devices.device(smScreen) {
        margin: 0;
        margin-bottom: 2rem;
      }
    }
}

