@use "../../../assets/styles/partials/mixins/devices" as devices;
@use "../../../assets/styles/partials/mixins/layout" as layout;
@use "../../../assets/styles/partials/variables/colors" as colors;
@use "../../../assets/styles/partials/placeholders";

@include layout.float;

.ourTechnology {
  padding-top: 4rem;
  padding-bottom: 4rem;
  overflow: hidden;
  position: relative;
    .content {
      @extend %maxContent;
      display: flex;
      flex-direction: column-reverse;
      padding-left: 1rem;
      padding-right: 1rem;
  
      @include devices.device(smScreen) {
        flex-direction: row;
        justify-content: flex-end;
        padding-top: 120px;
      }
    }
  
    &_text {
      opacity: 1;
      position: relative;
      top: 0;
      text-align: center;

      @include devices.device(smScreen) {
        width: 40%;
        text-align: left;
      }

      p {
        &:first-child {
          font-size: 1.8rem;
          line-height: 2.5rem;
        }
      }
    }
  
    &_image {
      width: 90%;
      margin: 3rem auto;

      @include devices.device(tablet) {
        width: 80%;
      }

      @include devices.device(smScreen) {
        width: 50%;
        margin-left: 0;
      }
    }

    .accordion_text {
      font-size: 1.3rem !important;
      line-height: 2rem !important;

      @include devices.device(smScreen) {
        text-align: left;
      }
    }

    .buttonBlock {
      margin-top: 3rem;
    }
}

.cube1 {
  position: absolute;
  left: 20%;
  bottom: 0;
  animation: float 5.5s ease-in-out infinite;
  animation-delay: 0.5s;
  transform: rotate(30deg);
}

.cube2 {
  position: absolute;
  right: 50%;
  top: 25%;
  transform: scale(0.5) rotate(50deg);
  animation: float 8s ease-in-out infinite;
}

