@use "../../../../assets/styles/partials/mixins/devices" as devices;
@use "../../../../assets/styles/partials/variables/colors" as colors;

.wrapper {
  position: relative;
  width: 100%;
  height: auto;

  & > div {
    position: absolute;
  }
}

.factory {
  position: absolute;
  z-index: 100;
  width: 80%;
  left: 15%;
  top: 10%;

  &_part {
    z-index: 200;
    width: 13.3%;
    right: 34.9%;
    bottom: 23.1%;
    position: absolute;
}
  }


.stone1 {
  top: 10%;
  width: 6%;
  left: 20%;
  animation: float 6.6s ease-in-out infinite;
}

.stone2 {
  top: 17%;
  width: 4%;
  left: 27%;
  transform: rotate(90deg);
  animation: float 5.5s ease-in-out infinite;
}

.robot1 {
  top: 16%;
  width: 6%;
  left: 15%;
  animation: float 6s ease-in-out infinite;
}

.robot2 {
  top: 2%;
  width: 4%;
  left: 24%;
  transform: rotate(70deg);
  animation-delay: .5s;
  animation: float 4.5s ease-in-out infinite;
}

.gold {
  bottom: 30.8%;
  width: 32%;
  left: 52%;
  z-index: 100;
  animation: moveX 20s linear infinite;
  position: absolute;
}

.technology_shield {
  top: 32%;
  width: 15%;
  left: 60%;
  z-index: 100;
  animation: float 4.5s ease-in-out infinite;
}


@keyframes float {
  0% {
    transform: translatey(0px);
  }
  50% {
    transform: translatey(-20px);
  }
  100% {
    transform: translatey(0px);
  }
}

@keyframes moveX {
  0% {
    left: 52%;
  }
  50% {
    left: 70%;
  }
  100% {
    left: 52%;    
  }
}