@use "../../assets/styles/partials/placeholders" as placeholders;
@use "../../assets/styles/partials/mixins/devices" as devices;
@use "../../assets/styles/partials/variables/colors" as colors;


.navigation {
  position: fixed;
  width: 100%;

  &_content {
    @extend %mainLayout;

    @include devices.device(smScreen) {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  }

  &_menu {
    ul {
      display: flex;

      li {
        padding-right: 2rem;

        &:last-child {
          padding: 0px;
        }
      }

      a {
        display: inline-block;
        padding: 1rem;

        &:hover {
          color: colors.$palette2;
        }

        &.contact {
          background-color: colors.$palette4;
          border-radius: 50px;
          text-align: center;
          color: white;
          padding: 1rem 3rem;

        }
      }
    }
  }

  img {
    width: auto;
  }
}