@use "../../../../assets/styles/partials/mixins/devices" as devices;
@use "../../../../assets/styles/partials/variables/colors" as colors;

.wrapper {
  position: relative;
  width: 100%;
  height: auto;

  & > div {
    position: absolute;
  }
}

.circle {
  width: 69%;
  left: 0;
  top: 0;
  animation: rotate 40s linear infinite;
}

.data_windowBlue {
  top: 27%;
  width: 49%;
  left: 25%;
  z-index: 100;
}


.data_window1 {
  bottom: 18%;
  width: 20%;
  left: 15%;
  z-index: 100;
}

.data_window2 {
  top: 32%;
  width: 20%;
  right: 15%;
  z-index: 100;
}

.data_window3 {
  top: 11%;
  width: 39%;
  left: 15%;
  z-index: 90;
}

.blueSpot {
  top: 6%;
  width: 14%;
  right: 2%;
}

.yellowSpot {
  bottom: 2%;
  width: 14%;
  left: 5%;
}

.mobiles {
  bottom: 5%;
  width: 28%;
  right: 0px;
}

.gameSpot {
  bottom: 25%;
  width: 12%;
  right: 5%;
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


