@use "../../../assets/styles/partials/mixins/devices" as devices;
@use "../../../assets/styles/partials/variables/colors" as colors;
@use "../../../assets/styles/partials/placeholders";

.whoweare {
  justify-content: flex-end;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 4rem;
  padding-bottom: 4rem;
  overflow: hidden;
  position: relative;

  @include devices.device(tablet) {
    // padding-top: 120px;
  }

  .content {
    @extend %maxContent;
    display: flex;
    flex-direction: column-reverse;

    @include devices.device(smScreen) {
      flex-direction: row;
    }
  }

  &_image {
    width: 95%;

    @include devices.device(smScreen) {
      padding-right: 3rem;
      width: 95%;
      margin: 0%;
    }
  }

  &_text {
    opacity: 1;
    position: relative;
    top: 0;
    width: 100%;
    text-align: center;
    margin-bottom: 2rem;

    span {
      color: colors.$palette2;
      font-weight: 500;
    }


    @include devices.device(smScreen) {
      width: 35%;
      text-align: left;
      margin-bottom: 0;

    }
  }

  .titleButton {
    @extend %titleButton;
    margin: auto;
    margin-bottom: 2rem;
    @include devices.device(smScreen) {
      margin: 0;
      margin-bottom: 2rem;

    }
  }
}
