@use "../../../assets/styles/partials/mixins/devices" as devices;
@use "../../../assets/styles/partials/variables/colors" as colors;
@use "../../../assets/styles/partials/placeholders";

.weoffer {
  padding-top: 4rem;
  padding-bottom: 4rem;
  overflow: hidden;
  position: relative;

  .content {
    @extend %maxContent;
    padding-left: 1rem;
    padding-right: 1rem;
  }

  &_text {
    opacity: 1;
    position: relative;
    top: 0;
    text-align: center;

    span {
      color: colors.$palette2;
      font-weight: 500;
    }

    @include devices.device(smScreen) {
      width: 35%;
      margin-left: 2rem;
      text-align: left;
    }
  }

  &_image {
    margin: 4rem auto 3rem auto;
    width: 90%;

    @include devices.device(smScreen) {
      width: 50%;
      margin: 0px;
    }
  }

  .titleButton {
    @extend %titleButton;
  }
}

.cube1 {
  position: absolute;
  right: 20%;
  bottom: 10%;
  animation: float 5.5s ease-in-out infinite;
  animation-delay: 0.5s;
  transform: rotate(30deg);
}

.cube2 {
  position: absolute;
  right: 50%;
  top: 0%;
  transform: scale(0.5) rotate(90deg);
  animation: float2 5.5s ease-in-out infinite;
}

@keyframes float {
  0% {
    transform: translatey(0px);
  }
  50% {
    transform: translatey(-50px) rotate(30deg);
  }
  100% {
    transform: translatey(0px);
  }
}

@keyframes float2 {
  0% {
    transform: translatey(0px);
  }
  50% {
    transform: translatey(100px) rotate(90deg);
  }
  100% {
    transform: translatey(0px);
  }
}
