@use "../../../assets/styles/partials/mixins/devices" as devices;
@use "../../../assets/styles/partials/variables/colors" as colors;
@use "../../../assets/styles/partials/placeholders";


.weoffer {
  padding-top: 4rem;
  padding-bottom: 4rem;

    .content {
      @extend %maxContent;
      padding-left: 1rem;
      padding-right: 1rem;
    }
  
    p {
      @include devices.device(smScreen) {
        max-width: 60%;
      }
    }
  
    &_text {
      opacity: 1;
      position: relative;
      top: 0;
      text-align: center;
  
      @include devices.device(smScreen) {
        width: 35%;
        margin-left: 2rem;
        text-align: left;
      }
    }
  
    &_image {
      margin: 4rem auto 3rem auto;
      width: 90%;  
      
      @include devices.device(smScreen) {
        width: 50%;  
        margin: 0px
      }
    }

    .titleButton {
      @extend %titleButton;
      margin: auto;
      margin-bottom: 2rem;
      @include devices.device(smScreen) {
        margin: 0;
        margin-bottom: 2rem;
      }
    }
}

