@use "../../../assets/styles/partials/mixins/devices" as devices;
@use "../../../assets/styles/partials/variables/colors" as colors;
@use "../../../assets/styles/partials/placeholders";


.ourtechnology {
  padding-top: 4rem;
  padding-bottom: 4rem;
  
    .content {
      @extend %maxContent;
      display: flex;
      flex-direction: column-reverse;
      padding-left: 1rem;
      padding-right: 1rem;
  
      @include devices.device(smScreen) {
        flex-direction: row;
        justify-content: flex-end;
        //padding-top: 120px;
      }
    }
  
    &_text {
      opacity: 1;
      position: relative;
      top: 0;
      width: 100%;

      @include devices.device(smScreen) {
        width: 35%;
      }
    }
  
    &_image {
      width: 90%;

      @include devices.device(smScreen) {
        width: 60%;
      }
    }

    .titleButton {
      @extend %titleButton;
      margin: auto;
      margin-bottom: 2rem;
      @include devices.device(smScreen) {
        margin: 0;
        margin-bottom: 2rem;
      }
    }
}

