@use "../../assets/styles/partials/placeholders" as placeholders;
@use "../../assets/styles/partials/mixins/devices" as devices;
@use "../../assets/styles/partials/mixins/layout" as layout;
@use "../../assets/styles/partials/variables/colors" as colors;

%containerSection {
  position: relative;
  overflow: hidden;
}

.home {
  position: relative;

  section {
    p {
      font-size: 1.8rem;
      line-height: 2.5rem;
    }
  }

  section,
  main {
    display: flex;
    align-items: center;

    p {
      margin-left: auto;
      margin-right: auto;

      @include devices.device(smScreen) {
        margin-left: 0;
        margin-right: 0;
      }
    }

    @include devices.device(tablet) {
      min-height: 100vh;
    }
  }
}

.textSpan {
  opacity: 1;
  position: relative;
  top: 0;
}

.hero_container {
  position: relative;

  &::before {
    content: "";
    display: block;
    width: 100px;
    height: 200px;
    background-image: url(../../assets/img/circles.svg);
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    bottom: 0%;
    right: 42%;
    z-index: 1;
  }
}

.whoweare_container {
  @extend %containerSection;

  p {
    max-width: 320px;
  }
}

.weoffer_container {
  @extend %containerSection;

  p {
    max-width: 450px;
  }
}

.ourtechnology_container {
  @extend %containerSection;
}

.experience_container {
  @extend %containerSection;
}

.dataoptimization_container {
  @extend %containerSection;
}
