@use "../../../../assets/styles/partials/mixins/devices" as devices;
@use "../../../../assets/styles/partials/variables/colors" as colors;
@use "../../../../assets/styles/partials/mixins/layout" as layout;

@include layout.rotate;

.wrapper {
  position: relative;
  width: 100%;
  height: auto;

  & > div {
    position: absolute;
  }
}

.man {
  top: 40%;
  z-index: 100;
  width: 35%;
  @extend %center;

  &_head {
    width: 35%;
    position: absolute;
    top: -45%;
    left: 31%;
    animation: headRotate 8s infinite;
    animation-direction: alternate;
    transform-origin: 50% 100%;
  }
}

%blueIcons {
  z-index: 100;
  width: 18%;
}

%center {
  margin: auto;
  left: 0;
  right: 0;
}

.label {
  text-align: center !important;
  width: 100% !important;
  max-width: 100% !important;
  display: block;
  font-size: 1rem;
  font-weight: 500;
  margin-top: 0px;

  @include devices.device(smScreen) {
    margin-top: 5px;
    font-size: 1.2rem;
  }

  @include devices.device(lgScreen) {
    margin-top: 20px;
  }
}

.protect {
  top: 40%;
  left: 0;
  @extend %blueIcons;
}

.deliver {
  top: 40%;
  right: 0;
  @extend %blueIcons;
}

.simplify {
  top: 0;
  @extend %blueIcons;
  @extend %center;
}

.optimize {
  bottom: 5%;
  @extend %blueIcons;
  @extend %center;
}

.circle {
  z-index: 90;
  width: 85%;
  left: 0;
  right: 0;
  margin: auto;
  top: 5%;
  animation: rotate 40s linear infinite;
}
