@use "../../../assets/styles/partials/mixins/devices" as devices;
@use "../../../assets/styles/partials/mixins/layout" as layout;
@use "../../../assets/styles/partials/variables/colors" as colors;
@use "../../../assets/styles/partials/placeholders";

@include layout.float;

.letsGetStarted {
  padding-top: 4rem;
  padding-bottom: 4rem;
  overflow: hidden;
  position: relative;
    .content {
      @extend %maxContent;
      display: flex;
      flex-direction: column-reverse;
      padding-left: 1rem;
      padding-right: 1rem;
  
      @include devices.device(smScreen) {
        flex-direction: row;
        justify-content: flex-end;
        padding-top: 120px;
      }
    }
  
   
}

.cube1 {
  position: absolute;
  left: 20%;
  top: 10%;
  animation: float 5.5s ease-in-out infinite;
  animation-delay: 0.5s;
  transform: rotate(30deg);
}

.cube2 {
  position: absolute;
  right: 50%;
  top: 25%;
  transform: scale(2) rotate(80deg);
  animation: float 8s ease-in-out infinite;
}

