@use "../../../assets/styles/partials/mixins/devices" as devices;
@use "../../../assets/styles/partials/variables/colors" as colors;
@use "../../../assets/styles/partials/placeholders";


.dataoptimization {
  padding-top: 4rem;
  padding-bottom: 4rem;
  overflow: hidden;
  position: relative;
    .content {
      @extend %maxContent;
      display: flex;
      flex-direction: column-reverse;
      padding-left: 1rem;
      padding-right: 1rem;
  
      @include devices.device(smScreen) {
        flex-direction: row;
        justify-content: flex-end;
        padding-top: 120px;
      }
    }
  
    &_text {
      opacity: 1;
      position: relative;
      top: 0;
      text-align: center;

      span {
        color: colors.$palette2;
        font-weight: 500;
      }

      @include devices.device(smScreen) {
        width: 35%;
        text-align: left;
      }

      p {
        max-width: 400px !important;
      }
    }
  
    &_image {
      width: 85%;
      margin: 3rem auto;

      @include devices.device(tablet) {
        width: 80%;
      }

      @include devices.device(smScreen) {
        width: 45%;
      }
    }

    .titleButton {
      @extend %titleButton;
      margin: auto;
      margin-bottom: 2rem;
      @include devices.device(smScreen) {
        margin: 0;
        margin-bottom: 2rem;
      }
    }
}

