@use "../../../assets/styles/partials/mixins/devices" as devices;
@use "../../../assets/styles/partials/variables/colors" as colors;
@use "../../../assets/styles/partials/placeholders";


.dataoptimization {
    background: url(../../../assets/img/home_bgtop.jpg) no-repeat;
    background-size: cover;
  
    .content {
      @extend %maxContent;
      padding-top: 120px;
      justify-content: flex-end;
      padding-left: 1rem;
      padding-right: 1rem;
    }
  
    &_text {
      opacity: 1;
      position: relative;
      top: 0;
      width: 35%;
  
      p {
        font-size: 2rem;
        line-height: 2.5rem;
      }
    }
  
    &_image {
      width: 60%;
    }

    .titleButton {
      @extend %titleButton;
    }
}

