@use "../../../../assets/styles/partials/mixins/devices" as devices;
@use "../../../../assets/styles/partials/variables/colors" as colors;

.wrapper {
  position: relative;
  width: 100%;
  height: auto;
}

.boy {
  position: absolute;
  z-index: 100;
  width: 52%;
  left: 15%;
  bottom: 0;

}

.boyBg {
  &_circle{
    position: absolute;
    width: 65%;
    bottom: 0;
    left: 12%;
  } 
 
  &_graphic{
    position: absolute;
    width: 38%;
    left: 60%;
    top: 38%;
  } 

  &_shield {
    position: absolute;
    width: 18%;
    top: 38%;
    left: 5%;
  }
}

