@use "../../../../assets/styles/partials/mixins/devices" as devices;
@use "../../../../assets/styles/partials/mixins/layout" as layout;
@use "../../../../assets/styles/partials/variables/colors" as colors;

@include layout.rotate;

.wrapper {
  position: relative;
  width: 100%;
  height: auto;
}

.boy {
  position: absolute;
  z-index: 100;
  width: 52%;
  left: 15%;
  bottom: 0;
}

.boyBg {
  &_circle {
    position: absolute;
    width: 65%;
    bottom: 2%;
    left: 12%;
    animation: rotate 40s linear infinite;
  }

  &_window {
    position: absolute;
    width: 45%;
    left: 55%;
    top: 10%;
  }

  &_shield {
    position: absolute;
    width: 15%;
    top: 20%;
    left: 5%;
  }

  &_details {
    position: absolute;
    width: 90%;
    bottom: 12%;
    left: -5%;
  }
}
