@use "../../../../assets/styles/partials/mixins/devices" as devices;
@use "../../../../assets/styles/partials/variables/colors" as colors;

.wrapper {
  position: relative;
  width: 100%;
  height: auto;
  border: 1px solid red;
}

.boy {
  position: absolute;
  bottom: 0%;
  z-index: 100;
  width: 58%;
  left: 15%;

}

.boyBg {
  // position: absolute;
  // width: 100%;
  // top: 0;

  &_circle{
    position: absolute;
    width: 85%;
    bottom: 0;
    left: 8%;
  } 
 

  &_graphic{
    position: absolute;
    width: 40%;
    top: 45%;
    left: 60%;
  } 
}

