@use "../../../../assets/styles/partials/mixins/devices" as devices;
@use "../../../../assets/styles/partials/variables/colors" as colors;

.wrapper {
  position: relative;
  width: 100%;
  height: auto;
}

.man {
  position: absolute;
  bottom: 0%;
  z-index: 100;
  width: 58%;
  left: 15%;

  &_head {
    width: 35%;
    position: absolute;
    top: -45%;
    left: 31%;
    animation: headRotate 8s infinite;
    animation-direction: alternate;
    transform-origin: 50% 100%;

    // &__eyes {
    //   width: 10px;
    //   background-color: red;
    //   border-radius: 100%;
    //   animation: blink 1s infinite;
    //   position: absolute;

    // }
  }
}

.manBg {
  // position: absolute;
  // width: 100%;
  // top: 0;

  &_circle{
    position: absolute;
    width: 85%;
    bottom: 0;
    left: 8%;
  } 

  &_mobile{
    position: absolute;
    width: 40%;
    top: 10%;
  } 

  &_graphic{
    position: absolute;
    width: 40%;
    top: 45%;
    left: 60%;
  } 
}


@keyframes headRotate {
  0% {
    transform: rotate(0deg)
  }
  100% {
    transform: rotate(15deg)
  }
}

// @keyframes blink {
//   0% {
//     height: 1px;

//   }
//   100% {
//     height: 10px;

//   }
// }
