@use "../../assets/styles/partials/placeholders" as placeholders;
@use "../../assets/styles/partials/mixins/devices" as devices;
@use "../../assets/styles/partials/mixins/layout" as layout;
@use "../../assets/styles/partials/variables/colors" as colors;

.legalPages {
  .content {
    max-width: 1000px;
    margin: auto;
    padding-top: 7rem;
    padding-left: 1rem;
    padding-right: 1rem;
    margin-bottom: 6rem;

    h1,h2 {
      color: colors.$main;
    }

    p {
      font-size: 1rem;
      line-height: 1.5rem;
    }

    ol{
      li {
        margin-bottom: 12px;
      }
    }

    h3 {
      margin-top: 30px;
    }
  }
}
