@use "../../../assets/styles/partials/mixins/devices" as devices;
@use "../../../assets/styles/partials/mixins/layout" as layout;
@use "../../../assets/styles/partials/variables/colors" as colors;
@use "../../../assets/styles/partials/placeholders";

@include layout.float;

.brandSafety {
  padding-top: 4rem;
  padding-bottom: 4rem;
  overflow: hidden;
  position: relative;
    .content {
      @extend %maxContent;
      display: flex;
      flex-direction: column-reverse;
      padding-left: 1rem;
      padding-right: 1rem;
  
      @include devices.device(smScreen) {
        flex-direction: row;
        justify-content: flex-end;
        padding-top: 120px;
      }
    }
  
    &_text {
      opacity: 1;
      position: relative;
      top: 0;
      text-align: center;

      @include devices.device(smScreen) {
        width: 40%;
        text-align: left;
      }

      p {
        &:first-child {
          font-size: 1.8rem;
          line-height: 2.5rem;
        }
      }

      ul {
        li {
          font-size: 1.3rem;
          display: flex;
          align-items: center;
          margin-bottom: 20px;
          &::before {
            @extend %beforeAfter;
            background-color: colors.$palette2;
            border-radius: 100%;
            width: 10px;
            height: 10px;
            flex-shrink: 0;
            min-width: 0;
            margin-right: 10px;

          }
        }
      }
    }
  
    &_image {
      width: 90%;
      margin: 3rem auto;

      @include devices.device(tablet) {
        width: 80%;
      }

      @include devices.device(smScreen) {
        width: 48%;
        margin-left: 0;
      }
    }
}

.cube1 {
  position: absolute;
  left: 20%;
  top: 10%;
  animation: float 5.5s ease-in-out infinite;
  animation-delay: 0.5s;
  transform: rotate(30deg);
}

.cube2 {
  position: absolute;
  right: 50%;
  top: 25%;
  transform: scale(2) rotate(80deg);
  animation: float 8s ease-in-out infinite;
}

