.wrapper {
  position: relative;
  width: 100%;
  height: auto;

  .dubri {
    position: absolute;
    top: 10%;
    width: 20%;
  }

  .building {
    position: absolute;
    bottom: 1.5%;
    width: 11%;
    left: 45%;
  }

  .city {
    position: absolute;
    bottom: 0;
    width: 100%;
  }
}